
.places-page {
  height: 92vh;
  width: 100%;
  display: flex;
  overflow: hidden; 
}


.places-map-wrapper {
  flex: 1;
  height: 100%;
  overflow: hidden; 
  min-width: 0;    
}


.places-page .right-panel {
  width: 360px; 
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.places-page .leaflet-container {
  height: 100% !important;
  width: 100% !important;
}

.places-page .map-view {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
